



.articleWrap {
    padding: 2rem;
    margin-top: 8rem;
    font-family: 'Roboto', sans-serif;
}

.articleWrap h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}

.articleWrap h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

.articleInfo {
    text-align: right;
    justify-content: space-between;
    line-height: .6rem;
    font-size: 1rem;
    color: #000000;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.fotoContainer {
    width: 100%;
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    margin-bottom: 2rem;
    margin-top: 2rem;
    overflow: hidden; /* Ensures no content spills outside */
}

.bFoto {
    max-height: 50vh; /* Ensures the image doesn't exceed 40% of the viewport height */
    height: auto; /* Maintains the image's aspect ratio */
    width: auto; /* Maintains the image's aspect ratio */
    object-fit: contain; /* Ensures the image is fully visible */
}

/* Desktop-specific styles */
@media (min-width: 769px) {
    .articleWrap {
        padding: 4rem 10vw; /* Increase padding for desktop */
        margin-top: 10rem; /* Adjust margin-top for desktop */
    }

    .articleWrap h1 {
        font-size: 3rem; /* Increase font size for desktop */
    }

    .articleWrap h3 {
        font-size: 2rem; /* Increase font size for desktop */
    }

    .articleInfo {
        font-size: 1.2rem; /* Increase font size for desktop */
    }

    .fotoContainer {
        display: flex;
        max-height: 40vh; /* Increase max-height for desktop */
        margin-bottom: 3rem; /* Adjust margin-bottom for desktop */
        margin-top: 3rem; /* Adjust margin-top for desktop */
        align-items: center;
    }

    .bFoto {
        object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    }
}