



.articleWrap {
    padding: 2rem;
    margin-top: 8rem;
    font-family: 'Roboto', sans-serif;
}

.articleWrap h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}

.articleWrap h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

.articleInfo {
    text-align: right;
    justify-content: space-between;
    line-height: .6rem;
    font-size: 1rem;
    color: #000000;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.fotoContainer {
    width: 100%;
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    margin-bottom: 2rem;
    margin-top: 2rem;
    overflow: hidden; /* Ensures no content spills outside */
}

.bFoto {
    max-height: 50vh; /* Ensures the image doesn't exceed 40% of the viewport height */
    height: auto; /* Maintains the image's aspect ratio */
    width: auto; /* Maintains the image's aspect ratio */
    object-fit: contain; /* Ensures the image is fully visible */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .bFoto {
        width: 100%; /* Ensures the image spans the full width of the container */
        height: auto; /* Maintains the aspect ratio */
        max-height: none; /* Removes any max-height constraint */
        object-fit: contain; /* Prevents cropping and ensures the entire image is visible */
    }

    .fotoContainer {
        margin-top: 1rem; /* Adjust top margin for mobile */
        margin-bottom: 1rem; /* Adjust bottom margin for mobile */
    }
}